<div class="building">
  <img *ngIf="building.type === 'academy'" src="../../../../assets/images/buildings/academy.svg" alt="">
  <img *ngIf="building.type === 'factory'" src="../../../../assets/images/buildings/factory.svg" alt="">
  <img *ngIf="building.type === 'mine'" src="../../../../assets/images/buildings/mine.svg" alt="">
  <img *ngIf="building.type === 'townhall'" src="../../../../assets/images/buildings/townhall.svg" alt="">
  <p class="building__type">{{building.type}}</p>
  <p class="building__level">Level: {{building.level}}</p>
</div>
