
     <div id="building__details">
      <div class="building_info" >
          <img [src]="imgSrc" alt="">
          <p>{{building.type}} </p>
          <p>Level {{building.level}} </p>
      </div>
      <div class="building_detail_panel">
        <div class="building_detail_text">
          <p>You can create troops in your {{building.type}}. The higher level your
            {{building.type}} is, the stronger your troops are.
            Every level increases 1 <span class="photo_swords"></span> and 1 <span class="photo_deffence"></span> of the Troops.
            Every Troop eats 1 <span class="photo_bread"></span> every minute.
             </p>
        </div>
        <div *ngIf="building.type === 'barracks'"
        class="create_troop_button" (click)="createTroop()">
          <img src="../../../../assets/images/troops/addTroop.svg">
          <p><b>create troop level 1 </b></p>
          <p>10 $  1:00</p>
        </div>
        <div *ngIf="(townhallLevel() > building.level) || (building.type === 'townhall')"
        class="upgrade_troop_button" (click)="levelUpBuilding(building)">
          <img src="../../../../assets/images/troops/addTroop.svg">
          <p><b>upgrade to {{building.level}}</b></p>
          <p>200 $  2:30</p>
      </div>
      <div class="closing_button">
        <button (click)="destroy()"class="close"
                routerLink="/kingdom/buildings"
        >Close</button></div>
    </div>
  
