.hidden{
  display:none;
}
.show{
  display:block;
}

#building__details {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  width: 90%;
  height: 60%;
  margin: auto;
}

.building_info {
  width: 15%;
  margin: 20px;
  text-align: center;
}

.building_info p {
  margin: 5px auto;
  color: rgb(rgb(150, 147, 158));
  letter-spacing: 2px;
}

.building_detail_panel {
  width: 80%;
  margin: 20px;
  text-align: left;
}

.create_troop_button, .upgrade_troop_button  {
  background-color: rgb(30, 150, 139);
  display: flex;
  width: 60%;
  margin: 0 auto 15px;
  height: 60px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 6px 9px rgb(160, 160, 160);
}

.create_troop_button img, .upgrade_troop_button img {
  width: 70px;
  padding: 10px;
}

.closing_button {
  text-align: right;
}

.close {
  background-color: #FD8B4F;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  color: white;
}




.building__details button {
  width: 100px;
  height: 30px;

  margin: 15px auto;

  background: #FD8B4F;
  color: white;
  border-radius: 10px;

  font-weight: bold;
}

.building__details button:hover {
  cursor: pointer;
}

.building__details button:last-child {
  background: #67A835;
}

.building__details img {
  width: 50%;
  margin: 20px auto;
}

#overlay {
  position: fixed;
  top: 0;
  left:  0;
  z-index:  99;
  background:  rgba(0,0,0,0.8);
  width:  100vw;
  height: 100vh;
  overflow: hidden;
}

.building__details--table {
  width: 80%;
  margin-left: 10%;
}

.building__details--table thead {
  text-align: center;
  height: 30px;
  font-weight: bold;
}

.building__details--tableRow {
  text-align: left;
}

.building__details--tableRow td:last-child{
  text-align: right;
}


