<div id="overlay">
  <div id="modal-container">
    <div class="building__details">
      <img *ngIf="building.type === 'academy'" src="../../../../assets/images/buildings/academy.svg" alt="">
      <img *ngIf="building.type === 'factory'" src="../../../../assets/images/buildings/factory.svg" alt="">
      <img *ngIf="building.type === 'mine'" src="../../../../assets/images/buildings/mine.svg" alt="">
      <img *ngIf="building.type === 'townhall'" src="../../../../assets/images/buildings/townhall.svg" alt="">
      <table class="building__details--table">
        <thead>
        <tr >
          <td colspan="2">{{building.type}}  details</td>
        </tr>
        </thead>
        <tbody>
          <tr class="building__details--tableRow">
            <td>Id:</td>
            <td>{{building.id}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Type:</td>
            <td>{{building.type}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Level:</td>
            <td>{{building.level}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Started:</td>
            <td>{{building.started_at}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Finished:</td>
            <td>{{building.finished_at}}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="destroy()">Close</button>
      <button (click)="levelUpBuilding(building)">Level up</button>
    </div>
  </div>
</div>
