
 <!--  <div class="building__details">
      <img [src]="imgSrc" alt="">
      <table class="building__details--table">
        <thead>
        <tr >
          <td colspan="2">{{building.type}}  details</td>
        </tr>
        </thead>
        <tbody>
          <tr class="building__details--tableRow">
            <td>Id:</td>
            <td>{{building.id}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Type:</td>
            <td>{{building.type}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Level:</td>
            <td>{{building.level}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Started:</td>
            <td>{{building.startedAt | date: 'medium'}}</td>
          </tr>
          <tr class="building__details--tableRow">
            <td>Finished:</td>
            <td>{{building.finishedAt | date: 'medium'}}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="destroy()">Close</button>
      <button (click)="levelUpBuilding(building)" class="button__levelUp">Level up</button>
    </div> -->

    <div id="building__details">
      <div class="building_info" >
          <img [src]="imgSrc" alt="">
          <p>{{building.type}} </p>
          <p> {{building.level}} </p>
      </div>
      <div class="building_detail_panel">
        <div class="building_detail_text">
          <p>You can create troops in your {{building.type}}. The higher level your
            {{building.type}} is, the stronger your troops are.
            Every level increases 1 $ and 1 @ of the Troops.
            Every Troop eats 1 # every minute.
             </p>
        </div>
        <div class="create_troop_button" (click)="creaateTroop()">
          <img src="../../../assets/images/troops/addTroops.svg">
          <p>
            
          </p>


        </div>

      </div>


    </div>
  
