<div class="buildings">
  <app-building class="building"
                *ngFor="let building of buildings"
                (click)="initBuildingModal(building)"
                [building]="building"></app-building>
  <div class="building building-add" (click)="createBuilding('academy')">
    <img src="../../../assets/images/buildings/addacademy.svg" alt="">
    <p class="building__type--add">Add Academy</p>
  </div>
  <div class="building building-add" (click)="createBuilding('mine')">
    <img src="../../../assets/images/buildings/addmine.svg" alt="">
    <p class="building__type--add">Add Mine</p>
  </div>
  <div class="building building-add " (click)="createBuilding('factory')">
    <img src="../../../assets/images/buildings/addfactory.svg" alt="">
    <p class="building__type--add">Add Factory</p>
  </div>

  <div id="modal-container" class="hidden"></div>
  <div id="overlay" class="hidden"></div>

</div>


