<div class="buildings" *ngIf="!selectedBuilding">
  <app-building class="building"
                *ngFor="let building of buildings"
                (click)="selectBuilding(building)"
                [building]="building">
  </app-building>
  <div class="building building-add" (click)="createBuilding('barracks')">
    <img src="../../../assets/images/buildings/addbarracks.svg" alt="">
    <p class="building__type--add">Add Barracks</p>
  </div>
  <div class="building building-add" (click)="createBuilding('mine')">
    <img src="../../../assets/images/buildings/addmine.svg" alt="">
    <p class="building__type--add">Add Mine</p>
  </div>
  <div class="building building-add " (click)="createBuilding('farm')">
    <img src="../../../assets/images/buildings/addfarm.svg" alt="">
    <p class="building__type--add">Add Farm</p>
  </div>
</div>
<div class="building-detail" *ngIf="selectedBuilding">
    <app-building-detail [building]="selectedBuilding"
                         (deselectBuilding)="deselectBuilding($event)" ></app-building-detail>
  </div>


