.notifications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 95%;
  max-width: 400px;
  margin: 10px auto;
  justify-content: flex-start;


  background: rgba(255, 255, 255, 0.8);
}

.notifications__header {
  width: 90%;
  margin: 10px auto;
  background: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
}

.notifications__item {
  width: 90%;
  margin: 10px auto;
  background: white;
  height: 100px;

  display: flex;
  flex-direction: row;
}




