<div class="troops-container">
  <div class="unit">
    <img src="../../../assets/images/troopbg.svg">
    <p>Attack tbd</p>
    <p>Defence tbd</p>
    <p>Sustenance tbd</p>
  </div>
  <div class="troops">
    <div>
    <li *ngFor="let troop of troops" (click)="onSelect(troop)">
      <img src="../../../assets/images/troops.svg">
      <div class="troop_text">
        <p>ID: {{troop.id}}, level: {{troop.level}}</p>
      </div>
    </li>
    </div>
    <div>
    <div class="upgrade_button" *ngFor="let troop of troops">
      <p>upgrade</p>
    </div>
    </div>
  </div>
</div>
