div {
  padding: 7%;
  background-color: rgba(255, 255, 255, 0.8);
  ;
  font-family: 'Roboto', sans-serif;
  opacity: 20%;

}

/* h3 {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
} */

.resources {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 7px auto;
  max-width: 400px;
  height: 300px;

}

.resource {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resource img {
  width: 75px;
}

.resource p {
  color:#67A835;
  text-align: auto;
  font-size: 27px;
  margin: auto 10px;

}

/* #Capa_1 {
  animation: Capa1 1s infinite;
}

@keyframes Capa1 {
  0% {
    transform: rotate(2deg)
  }

  50% {
    transform: rotate(4deg)
  }

  100% {
    transform: rotate(2deg)
  }
}

#Capa_2 {
  animation: Capa2 1s infinite;
}

@keyframes Capa2 {
  0% {
    transform: rotate3d(2deg)
  }

  50% {
    transform: rotate(4deg)
  }

  100% {
    transform: rotate3d(2eg)
  }
} */
