div {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto', sans-serif;
  opacity: 20%;
  border-radius: 4px;
}

.resources {
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px auto 10px auto;
}

.resource {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7%;
}

.resource img {
  max-height: 30px;
  width: 25%;
}

.resource p {
  color:#67A835;
  text-align: auto;
  font-size: 27px;
  margin: auto 10px;
}
