<form #loginFormElement="ngForm" (ngSubmit)="onSubmit()">
  <div class="form__row">
    <label for="username">Username</label>
    <input type="text"
            id="username"
            class="form-control"
            [(ngModel)]="user.username"
            required
            name="username"
            #username="ngModel">
    <div  class="error" *ngIf="username.invalid && username.touched">
      <p >Please enter your username</p>
    </div>
  </div>
  <div class="form__row">
    <label for="password">Password</label>
    <input type="text"
           id="password"
           class="form-control"
           [(ngModel)]="user.password"
           required
           name="password"
           #password="ngModel">
    <div [className]="'error'" *ngIf="password.invalid && password.touched">
      <p >Please enter your password</p>
    </div>
  </div>
  <button type="submit" [disabled]="!loginFormElement.form.valid">Login</button>
</form>
