app-alert div,
.alert,
.alert-danger,
.alert-success {
  width: 50%;
  margin-left: 25%;
  padding: 20px 0;
  border-radius: 0 0 10px 10px;


  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);

  align-content: center;
  align-items: center;
}

.alert {
  color: coral;
}

.alert-success {
  color: green;
}

.alert-danger {
  color: darkred;
}
