<div class="menu">
  <div class="button" routerLink="buildings">
    <img src="../../../assets/images/buildings/buildings.svg">
    <p>Buildings</p>
  </div>
  <div class="button" routerLink="troops">
    <img src="../../../assets/images/troops/troops.svg">
    <p>Troops</p>
  </div>
  <div class="button" routerLink="battle">
    <img src="../../../assets/images/map.svg">
    <p>Battle</p>
  </div>
  <div class="button" routerLink="leaderboard">
    <img src="../../../assets/images/leaderboard.svg">
    <p>Leaderboard</p>
  </div>
</div>
