/* You can add global styles to this file, and also import other style files */

/* Development styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

form,
app-login,
app-register {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 568px;
}

.form__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  margin: 10px 0;
}

.form__row label {
  width: 30%;
}

.form__row input {
  border: 1px solid black;
  border-radius: 10px;
  width: 55%;
}

form button {
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  background-color: darkblue;
}

form button:hover {
  color: darkblue;
  border: 2px solid darkblue;
  background-color: white;
  cursor: pointer;
}

form .error p {
  color: darkred;
}
