<form #registerFormElement="ngForm" (ngSubmit)="onSumbit(registerFormElement)">
  <div class="form__row">
    <label for="username">Username: </label>
    <input id="username"
           type="text"
           [(ngModel)]="user.username"
           required
           name="username">
  </div>
  <div class="form__row">
    <label for="password">Password: </label>
    <input id="password"
           type="password"
           [(ngModel)]="user.password"
           required
           name="password">
  </div>
  <div class="form__row">
    <label for="password">Kingdom's name:</label>
    <input id="kingdom"
           type="text"
           [(ngModel)]="user.kingdom"
           required
           name="kingdom">
  </div>
  <button type="submit" [disabled]="!registerFormElement.form.valid">Register</button>
</form>
